main{
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#pic1 {
    width: 200px;
    height: 200px;
   
}
#pic2{
    width: 200px;
    height: 200px; 
}
#pic3{
    width: 200px;
    height: 200px;
}